<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <div class="title is-4"><%= deal.name %></div>
        <div class="subtitle is-6"><%= deal.created_at.strftime('%d %b %Y') %></div>
      </div>
    </div>

    <div>
      <% deal.categories.each do |category| %>
        <%= image_tag(category.icon, width: "25") %>
      <% end %>
    </div>
    
    <div class="content">
      <%= number_to_currency(deal.amount, unit: '$', precision: 2) %>
    </div>
  </div>
</div>
