<nav class="navbar navbar-expand text-white px-3 justify-content-between">
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <%= link_to '&larr;'.html_safe, categories_path, class: "text-decoration-none text-white fs-2" %>
    </div>
  </div>
  <span class="navbar-brand mb-0 fs-4 text-white mx-3">TRANSACTION - <%= @category.name[..10] %></span>
</nav>
