/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  width: 10%;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.nav {
  background-color: #3778c2;
}

.nav-link {
  color: white;
}

.form-control:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.add-btn {
  background-color: #5fb523;
  color: white
}

.add-btn:hover {
  color: #5fb523;
}

.main_color {
  color: #3778c2;
}

.next_color {
  color: #5fb523;
}

.text_color {
  color: #434b54;
}

.card-image {
  width: 20%;
}

.card-title {
  font-family: lobster, sans-serif;
  font-size: 4rem;
}

.lobster {
  font-family: lobster, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.thin {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

.thin_italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 100;
}

.extra_light {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.extra_light_italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 200;
}

.light {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.light_italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 300;
}

.regular {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.regular_italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.medium {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 500;
}
.medium_italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 500;
}
.semibold {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.semibold_italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 600;
}

.bold {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.bold_italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 700;
}

.extrabold {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 800;
}

.extrabold_italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 800;
}

.black {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 900;
}

.black_italic {
  font-family: proxima-nova, sans-serif;
  font-style: italic;
  font-weight: 900;
}

@media only screen and (min-width: 650px) {
  .card-image img {
    width: 60%;
  }

@media only screen and (min-width: 800px) {
  .card-image img {
    width: 40%;
  }

@media only screen and (min-width: 1100px) {
  .card-image img {
    width: 25%;
  }
