<div class="card column is-two-fifths-tablet is-one-fourth-widescreen is-one-fifth-fullhd m-2">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= image_tag(category.icon, alt: category.name, width: "50") %>
        </figure>
      </div>
      <div class="media-content">
        <div>
          <%= link_to category.name, category_deals_path(category.id), class: "title is-4 has-text-link-dark" %>
        </div>
        <div class="subtitle is-6 has-text-warning-dark"><%= number_to_currency(category.deals.sum('amount'), unit: '$', precision: 2) %></div>
      </div>
    </div>
  </div>
</div>
